<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="/makersbnb_styles.css" >
  </head>
  <body>
  <h1>Log in to MakersBnB</h1>
  <h2>Account already exists</h2>
    <form>
      <label for='email'>email address:</label>
      <input id='email'></input>
      <label for='password'>password:</label>
      <input id='password'></input>
      <button>log in</button>
    <p>
    </p>
  </body>
</html>